@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel


@*Cycle through books and create a card for each*@
@foreach (var b in Model.Books)
{
   <partial name="BookSummary" model="b" />
}

@*Pagination buttons that are dynamically created*@
<div class="row justify-content-center">
    <div class="mt-3 btn-group">
        <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
             page-class-normal="btn-outline-secondary"
             page-class-selected="btn-dark" page-url-category="@Model.CurrentCategory"
             class="m-1">
        </div>
    </div>
</div>
