@model IEnumerable<string>

<a class="btn btn-block btn-outline-secondary" 
   asp-action="Index" asp-controller="Home" 
   asp-route-category="">
    Home
</a>

@*Dynamically create the categories menu and highlight the selected one*@ 
@foreach (string category in Model)
{
    <a class="btn btn-block @(category == ViewBag.SelectedCategory ? "btn-dark" : "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home" 
       asp-route-category="@category"
       asp-route-page="1">
        @category
    </a>
}